<h1>beMIseculre</h1>
<p>Find me in app/views/home/welcome.html.erb</p>
<% if !current_user.nil? %>
<p><%=     "benvenuto " + current_user.email %></p>
<p><%= link_to "Le stazioni di BEMISecure", stations_path %></p>
<p><%= link_to "esci", destroy_user_session_path, :method => :delete %></p>
<% else %>
<p><%= link_to "Accedi", new_user_session_path %></p>
<p><%= link_to "Registrati", new_user_registration_path %></p>

<% end %>