

<div class="hero__image">
<img src="<%= asset_path "heroimage4.jpg" %>" alt="test" class="img-responsive">
<div class="carousel-caption">
<h1>BeMIsecure</h1>
<% if current_user.nil? %>
<%= link_to 'registrati adesso', new_user_registration_path, class: 'btn btn-primary btn-lg'%>
<% end %>

</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-sm-4">
<img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
<h3>Come funziona</h3>
</div>
<div class="col-sm-4">
<img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
<h3>Chi siamo</h3>
</div>
<div class="col-sm-4">
<img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
<h3>Dove siamo</h3>
</div>
</div>
</div>