<p id="notice"><%= notice %></p>

<h1>Parkingevents</h1>

<table>
  <thead>
    <tr>
      <th>Parkrequest</th>
      <th>Parkallowed</th>
      <th>Parkcompleted</th>
      <th>Getbikecompleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkingevents.each do |parkingevent| %>
      <tr>
        <td><%= parkingevent.parkrequest %></td>
        <td><%= parkingevent.parkallowed %></td>
        <td><%= parkingevent.parkcompleted %></td>
        <td><%= parkingevent.getbikecompleted %></td>
        <td><%= link_to 'Show', parkingevent %></td>
        <td><%= link_to 'Edit', edit_parkingevent_path(parkingevent) %></td>
        <td><%= link_to 'Destroy', parkingevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parkingevent', new_parkingevent_path %>
